.navbar {
    overflow: hidden;
    background-color:#f5d90a;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navlogo {
    float: left;
    height: 100px;
    padding-left: 10%;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 42px 16px;
    text-decoration: none;
}

.navbar .nonactive:hover {
    background-color:#e0b60b;
    color:#000;
}

.navbar .active a{
	background-color:#f5d90a;
    color: #000;	
}
.dropdown {
    float: center;
    overflow: hidden;
    float:right;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 42px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#e0b60b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:whitesmoke;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#e0b60b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color:#e0b60b;
}
