/* media queries */

@media (max-width:430px) {
    
    body {
        font-size: 20%
    }

    .frame {
        margin-top: -30%;
    }

    .homecontent {
        min-height: 50vh;
    }

}


/* ALL: Navigation bar*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#f5d90a;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,0.3);
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-size: 20px;
    color:#f5d90a;
    padding: 12px 28px;
    text-decoration: none;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
    background-color:rgb(26, 26, 26);
    font-family:"Rubik", sans-serif;
}

body {
    background-color: whitesmoke;
}

.navbar {
    display: inline-block;
}

.navlogo {
    cursor: pointer;
    margin-right: auto;
    height: 150px;
    margin-top: -8%;
    padding-bottom: 30px;
}

.navlinks {
    list-style:none;
    align-items: center;
    display: flex;
    padding-left: 100%;
    margin-top: -26%;
}

.navlinks li {
    padding: 0px 20px;
}

.navlinks li a {
    transition: 0.3s ease;
    border-radius: 50px;
    background-color: black;
    color:#f5d90a;
    box-shadow: 0px 4px 20px 0px rgba(185, 154, 0, 0.1);
}

.navlinks li a.active {
    transition: ease 0.6;
    border-radius: 50px;
    background-color:#f5d90a;
    color:black;
}

.navlinks li a:hover {
    transition:  0.6s ease;;
    color:black;
    background-color:#f5d90a;
    box-shadow: 0px 1px 45px 0px rgba(185, 154, 0, 0.6);
}

button {
    background-color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    box-shadow: 0px 4px 20px 0px rgba(185, 154, 0, 0.1);
}

.nonactive a:hover {
    color:black;
    background-color:#f5d90a;
    transition: 0.3s ease;
}

/* ALL: Dropdown section for "courses"*/

.dropdown:hover .dropbtn {
    background-color:#f5d90a;
    color: black;
    transition: 0.6s ease;
    cursor: pointer;
    box-shadow: 0px 1px 45px 0px rgba(185, 154, 0, 0.6);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:whitesmoke;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a.active {
    transition: ease 0.6;
    background-color:#f7ec97;
    color:black;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#f7ec97;
    color: black;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ALL: Footer */

footer {
    background-color:rgb(26, 26, 26);
    padding-left:10%;
    padding-top: 1%;
    padding-bottom:1%;
    position:absolute;
    display:flex;
    float: left;
}

.foottext {
    display:list-item;
    list-style: none;
    text-decoration: none;
}

footer h1 {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    color:#f7ec97;
    margin-top: 10px;
    margin-bottom:10px;
}

footer h2 {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    color:#f7ec97;
    margin-top: 10px;
    margin-bottom:10px;
}

footer h3 {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    color:#f7ec97;
    margin-top: 10px;
    margin-bottom:10px;
}

footer img {
    width: 40px;
    height: 40px;
}


/* HOME: Text about the company*/

.homebody {
    background-color: whitesmoke;
    padding-bottom: 5%;
}

.homecontent {
    padding-left: 22%;
    padding-right: 22%;
    display: inline-flex;
    align-items: center;
    min-height: 90vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("home2.png");
    background-position:top;
    background-size:contain;
}

iframe {
    margin-left: 65%;
    margin-top: -15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

iframe:hover {
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.5);
    transition: 0.6s ease; 
}

.homecontent h1{
    font-family:"Rubik", sans-serif;
    font-size: 340%;
    text-align: center;
    color:#f5d90a;
    padding-bottom: 10%;
}

.homecontainer {
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    text-align:justify;
    margin-left: 13%;
    margin-right: 43%;
    margin-top: 7%;
}

/* HOME: Image with button linked to enrolment page */

.homeimage {
    position:relative;
}

.homeimage img{
    float: left;
    width: 37%;
	height: 100%;
}

.homebtn {
    position: absolute;
    margin-top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#f5d90a;
    border: none;
    color: black;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    float: center;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
}

.homebtn:hover {
    background-color: #f7ec97;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,2);
    transition: 0.6s ease;
}

/* HOME: interactive statistics*/

.intstat {
    padding: 60px;
    background-color:#f7ec97;
}

/* HOME: Information about company */

.homesection {
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}

.homesection h1 {
    font-family: "Rubik", sans-serif;
    font-size: 300%;
    color:#f5d90a;
    text-align:left;
    margin-left: 43%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.homesection1 h1{
    font-family: "Rubik", sans-serif;
    font-size: 170%;
    color:#f5d90a;
    text-align:left;
    margin-left: 43%;
    margin-right: 6%;
}

.homesection1 p {
    font-family: "Rubik", sans-serif;
    font-size: 100%;
    color: black;
    text-align:left;
    margin-left: 43%;
    margin-right: 6%;
}

/* ENGLISH: body */

.engbody {
    padding-left: 39%;
    padding-right: 38%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("enghead.jpg");
    background-position:top;
    background-size:cover;
}

.engbody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.engbtn {
    position:absolute;
    margin-left: 5.2%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.engbtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* ENG: information */

.enginfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.engintial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.engintial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* ENG: timetable */

.engschedule {
    position: relative;
    margin-top: 3%;
}

.engschedule h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 230%;
    text-align:center;
    padding-bottom: 3%;
}

.engschedule img {
    width: 40%;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.28);
    cursor: pointer;
    margin-bottom: 1%;
}

.eng10 {
    margin-left: 30%;
}

.eng11 {
    margin-left: 10%;
}

.eng12 {
    margin-left: 1%;
}

.engschedule img:hover {
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

/* ENG: meet the tutors */

.engtutor {
    padding-top: 3%;
    padding-bottom: 3%;
}

.engtinfo {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 120%;
    text-align: center;
    padding-bottom: 2%;
}

.engt1 {
    margin-left: 15%;
    margin-right: 64.38%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.engt1:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.engt1 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.engt2 {
    margin-left: 40%;
    margin-right: 39.37%;
    margin-top: -26.3%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.engt2:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.engt2 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.engt3 {
    margin-top: -26.3%;
    margin-left: 65%;
    margin-right: 14.9%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.engt3:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.engt3 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
}

/* MATH: body */

.matbody {
    padding-left: 39%;
    padding-right: 38%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("mathead.png");
    background-position:top;
    background-size:cover;
}

.matbody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.matbtn {
    position:absolute;
    margin-left: 5.2%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.matbtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* MAT: information */

.matinfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.matintial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.matintial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* MAT: timetable */

.matschedule {
    position: relative;
    margin-top: 3%;
}

.matschedule h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 230%;
    text-align:center;
    padding-bottom: 3%;
}

.matschedule img {
    width: 40%;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.28);
    cursor: pointer;
    margin-bottom: 1%;
}

.mat10 {
    margin-left: 30%;
}

.mat11 {
    margin-left: 10%;
}

.mat12 {
    margin-left: 1%;
}

.matschedule img:hover {
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

/* MAT: meet the tutors */

.mattutor {
    padding-top: 3%;
    padding-bottom: 3%;
}

.mattinfo {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 120%;
    text-align: center;
    padding-bottom: 2%;
}

.matt1 {
    margin-left: 15%;
    margin-right: 64.25%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.matt1:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.matt1 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.matt2 {
    margin-left: 40%;
    margin-right: 39.3%;
    margin-top: -26.3%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.matt2:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.matt2 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.matt3 {
    margin-top: -26.3%;
    margin-left: 65%;
    margin-right: 14.26%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.matt3:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.matt3 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
}

/* PHYSICS: body */

.phybody {
    padding-left: 43%;
    padding-right: 43.12%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("phyhead.png");
    background-position:top;
    background-size:cover;
}

.phybody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.phybtn {
    position:absolute;
    margin-left: 1%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.phybtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* PHY: information */

.phyinfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.phyintial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.phyintial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* PHY: timetable */

.physchedule {
    position: relative;
    margin-top: 3%;
}

.physchedule h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 230%;
    text-align:center;
    padding-bottom: 3%;
}

.physchedule img {
    width: 40%;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.28);
    cursor: pointer;
    margin-bottom: 1%;
}

.phy11 {
    margin-left: 10%;
}

.phy12 {
    margin-left: 1%;
}

.physchedule img:hover {
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

/* PHY: meet the tutors */

.phytutor {
    padding-top: 3%;
    padding-bottom: 3%;
}

.phytinfo {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 120%;
    text-align: center;
    padding-bottom: 2%;
}

.phyt1 {
    margin-left: 15%;
    margin-right: 64.25%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.phyt1:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.phyt1 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.phyt2 {
    margin-left: 40%;
    margin-right: 39.5%;
    margin-top: -26.3%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.phyt2:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.phyt2 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.phyt3 {
    margin-top: -26.3%;
    margin-left: 65%;
    margin-right: 14.26%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.phyt3:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.phyt3 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
}

/* BIOLOGY: body */

.biobody {
    padding-left: 43%;
    padding-right: 43.56%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("biohead.png");
    background-position:top;
    background-size:cover;
}

.biobody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.biobtn {
    position:absolute;
    margin-left: 1%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.biobtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* BIO: information */

.bioinfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.biointial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.biointial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* bio: timetable */

.bioschedule {
    position: relative;
    margin-top: 3%;
}

.bioschedule h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 230%;
    text-align:center;
    padding-bottom: 3%;
}

.bioschedule img {
    width: 40%;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.28);
    cursor: pointer;
    margin-bottom: 1%;
}

.bio11 {
    margin-left: 10%;
}

.bio12 {
    margin-left: 1%;
}

.bioschedule img:hover {
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

/* PHY: meet the tutors */

.biotutor {
    padding-top: 3%;
    padding-bottom: 3%;
}

.biotinfo {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 120%;
    text-align: center;
    padding-bottom: 2%;
}

.biot1 {
    margin-left: 15%;
    margin-right: 64.53%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.biot1:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.biot1 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.biot2 {
    margin-left: 40%;
    margin-right: 39.95%;
    margin-top: -25.7%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.biot2:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.biot2 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.biot3 {
    margin-top: -25.7%;
    margin-left: 65%;
    margin-right: 14.32%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.biot3:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.biot3 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
}

/* CHEMISTRY: body */

.chembody {
    padding-left: 41%;
    padding-right: 41%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("chemhead.png");
    background-position:top;
    background-size:cover;
}

.chembody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.chembtn {
    position:absolute;
    margin-left: 2.8%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.chembtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* CHEM: information */

.cheminfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.chemintial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.chemintial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* CHEM: timetable */

.chemschedule {
    position: relative;
    margin-top: 3%;
}

.chemschedule h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 230%;
    text-align:center;
    padding-bottom: 3%;
}

.chemschedule img {
    width: 40%;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.28);
    cursor: pointer;
    margin-bottom: 1%;
}

.chem11 {
    margin-left: 10%;
}

.chem12 {
    margin-left: 1%;
}

.chemschedule img:hover {
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

/* CHEM: meet the tutors */

.chemtutor {
    padding-top: 3%;
    padding-bottom: 3%;
}

.chemtinfo {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 120%;
    text-align: center;
    padding-bottom: 2%;
}

.chemt1 {
    margin-left: 15%;
    margin-right: 64.29%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.chemt1:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.chemt1 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.chemt2 {
    margin-left: 40%;
    margin-right: 39.2%;
    margin-top: -26.5%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.chemt2:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.chemt2 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.chemt3 {
    margin-top: -26.2%;
    margin-left: 65%;
    margin-right: 14.32%;
    background-color:#f7ec97;
    margin-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.chemt3:hover {
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);
    transition: ease 0.3s;
}

.chemt3 h3 {
    font-family: "Rubik", sans-serif;
    color:black;
    font-size: 170%;
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
}

/* ENROLMENT: body */

.enrolbody {
    padding-left: 41%;
    padding-right: 40.82%;
    display: inline-flex;
    align-items: center;
    min-height: 75vh;
    background:linear-gradient(rgba(132, 116, 39, 0.586),rgba(0,0,0,0.5)), url("enrolhead.png");
    background-position:top;
    background-size:cover;
}

.enrolbody h1 {
    font-family: "Rubik", sans-serif;
    color:#f5d90a;
    font-size: 340%;
    text-align: center;
    margin-top: -30%;
}

.enrolbtn {
    position:absolute;
    margin-left: 2.8%;
    margin-top: 10%;
    background-color: none;
    border: 2px solid #f5d90a;
    color:#f5d90a;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(185, 154, 0, 0.2);
}

.enrolbtn:hover {
    background-color:#f5d90a;
    border: none;
    color: black;
    box-shadow: 0px 8px 32px 0px rgba(185, 154, 0, 0.9);
    transition: ease 0.6s;
}

/* ENROL: information */

.enrolinfo {
    background-color: #f7ec97;
    padding-top: 2%;
    padding-bottom: 2%;
}

.enrolintial h1 {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: center;
    font-size: 300%;
}

.enrolintial p {
    font-family: "Rubik", sans-serif;
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

/* ENROL: registration form */

.enrolcontainer {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%; 
    max-width: 400px; 
    padding: 5%; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enrolcontainter h2 {
    text-align: center;
  }
  
.form-group {
    margin-bottom: 5%; 
}
  
label {
    display: block;
    margin-bottom: 2%;
}